body, html {
    font-family: 'Arial', sans-serif;
    background: #5d5c61;
}

.container{
    max-width: 700px;
    margin: 0 auto;
}

.time-block{
    font-size: 4rem;
}

.select-block select{
    padding: 0.4rem 3rem 0.4rem 1rem;
    font-size: 1rem;
    background: #5d5c61;
    border-radius: 5px;
}

.select-block{
    text-align: center;
    margin-top: 2em;
}

.card{
    background: #8ea09c;
    padding: 2em 0;
    margin: 4em 0;
    text-align: center;
    border-radius: 20px;
}